<!-- una manera mas sencilla de agregar nuestro header y footer a nuestras vistas -->
<%- include('partials/header'); -%>

<h1>about</h1>

<p><%=aboutContent%></p>

<%- include('partials/footer'); -%>