<!-- una manera mas sencilla de agregar nuestro header y footer a nuestras vistas -->
<%- include('partials/header'); -%>

<h1>contact</h1>

<p><%=contactContent%></p>

<%- include('partials/footer'); -%>