<!-- una manera mas sencilla de agregar nuestro header y footer a nuestras vistas -->
<%- include('partials/header'); -%>

<h1><%=titleContent%></h1>

<p><%=contentPost%></p>

<%- include('partials/footer'); -%>